.div1 {
  float: left;
  padding: 10px;
  border: 3px solid green;
}

.div2 {
  padding: 10px;
  border: 3px solid red;
  width: 200px;
}

.div3 {
  float: left;
  padding: 10px;  
  border: 3px solid green;
}

.div4 {
  padding: 10px;
  border: 3px solid red;
  width: 200px;
  clear: left;
}
div {
  border: 3px solid green;
  padding: 10px;
}

.img1 {
  float: right;
}

.img2 {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}