body {
    font-family: Arial, sans-serif;
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: gray;  
    }
    h1{
        font-family: Georgia, serif;
        font-size: 60px;
        color: white;
    }
    .p1 {
    font-family: 'Times New Roman', serif;
    font-style: italic;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 30px;
    }

    .p2 {
    font-family: Tahoma, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    }

    .p3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-weight: lighter;
    font-size: 1.6em;
    }
    .p4{
        font-family: 'Trebuchet MS', sans-serif;
        font-weight: 900;
        font-variant: normal;
    }
    .p5{
        font-family: 'Brush Script MT', cursive;
        font-variant: small-caps;
        font-size: 2em;
    }
    .p6{
        font-family: 'Courier New', monospace;
        font-size: 10vw;
    }
    h1.a{
        font-family: "Sofia", sans-serif;
        font-size: 30px;
        text-shadow: 3px 3px 3px #ababab;
    }
    h1.b{
        font-family: "Trirong", serif;
    }
    h1.c{
        font-family: "Audiowide", sans-serif;
    }
    p.a {
  font: 20px Arial, sans-serif;
}

p.b {
  font: italic bold 16px Arial, sans-serif;
}

p.c {
  font: italic small-caps bold 15px/30px Georgia, serif;
}