.container {
  position: relative;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 20px;
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 20px;
}
.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 20px;
}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 20px;
}
.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
img { 
  width: 100%;
  height: auto;
  opacity: 0.5;
}
