h1{
    color: red;
    text-align: center;
}
h2{
    color: blue;
}
h3{
    color: green;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    font-weight: bold;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    font-weight: bold;
}