h2{
    color: red;
    text-align: center;
    background-color: rebeccapurple;
    margin-bottom: 0px;
    padding: 20px;
}
p{
    font-size: 14pt;
    font-weight: initial;
    color: white;
    background-color: blue;
    margin-top: 0px;
    margin-bottom: 0px;
}
h4{
    font-size: 14pt;
    font-weight: initial;
    color: yellow;
    background-color: brown;
    margin-top: 0px;
}
